<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{block "title"}}</title>

    {{> header}}
    {{block "headscript"}}
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;	js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";	fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img src="/img/logo_50h.png" alt="Pingjs Logo" title="Pingjs Logo" height="50px"></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/sites">Manage Pings</a>
                </li>
                <li>
                    <a href="/activity">Activity Log</a>
                </li>                
            </ul>
            <ul class="nav navbar-nav pull-right">
            	<li>
            	<div class="fb-like" data-href="https://www.facebook.com/pingjs" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            	</li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="color:#000">{{username}}<i style="margin-left:5px;" class="icon-chevron-down"></i></a>
                    <ul role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu">
                        <li><a tabindex="-1" href="/profile">My account</a></li>
                        <li><a tabindex="-1" href="/signout">Signout</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<div class="container">
    {{{body}}}
</div>
{{> footer}}
<script id="IntercomSettingsScriptTag">
  window.intercomSettings = {
    name: '{{session.name}}',
    email: '{{session.email}}',
    created_at: {{session.createdAt}},
    app_id: "wtvnld8f"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
{{{block "footerscripts"}}}
</body>
</html>